@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');
main{
    padding: 16px;
}
body {
    margin: 0;
    font-family: 'Rubik';
    font-size: 14px;
    color: #333333;
}
.vegetables_title{
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    color: #333333;
    margin: 0;
    padding: 20px 0;

   }

   .vegetable_wraper_all{
margin: 0 auto;
align-items: center;
border:1px solid #e3e3e3;
margin-bottom: 20px;
   }
   .vegetable_wraper{
       padding: 15px;
   }
   .vegetable_picture_headtitle{
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    margin-left: 100px;
   }
   .image_vegetable{
display: block;
margin: 0 auto;
margin-bottom: 5px;
   }

   .link_to_vegetable{
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    
   }